<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Inicio</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <header th:replace="layout/plantilla :: header"></header> 
        <a th:href="@{/agregar}">Crear Persona</a>
        <div th:if="${personas!=null and !personas.empty}">
            <table border="1">
                <tr>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Email</th>
                    <th>Telefono</th>
                    <th>Editar</th>
                    <th>Eliminar</th>
                </tr>
                <tr th:each="persona : ${personas}">
                    <td th:text="${persona.nombre}">Mostrar nombre</td>
                    <td th:text="${persona.apellido}">Mostrar Apellido</td>
                    <td th:text="${persona.email}">Mostrar Email</td>
                    <td th:text="${persona.telefono}">Mostrar Telefono</td>
                    <td><a th:href="@{/editar/}+${persona.idPersona}" th:text="Editar"/></td>
                    <td><a th:href="@{/eliminar/}+${persona.idPersona}" th:text="Eliminar"/></td>
   
                </tr>
        </div>
    </table>
    <div th:if="${personas == null and personas.empty}">
        La lista de personas esta vacia
    </div>    

    <!--  
        Nombre: <span th:text="${persona.nombre}">Mostrar nombre</span>
        <br/>
        Apellido: <span th:text="${persona.apellido}">Mostrar Apellido</span>
        <br/>
        Email: <span th:text="${persona.email}">Mostrar Email</span>
        <br/>
        Telefono: <span th:text="${persona.telefono}">Mostrar Telefono</span>
    -->

    <footer th:replace="layout/plantilla :: footer"></footer> 
</body>
</html>
