<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" 
      xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>Plantilla</title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>
    <body>
        <header th:fragment="header">
            <h1 th:text="#{plantilla.titulo}">Control de clientes</h1>
        </header>
        <footer th:fragment="footer">
            <div>
                <br/>
                <a th:href="@{/(lang=es)}">ES</a>l
                <a th:href="@{/(lang=en)}">EN</a>l
                <span>[[#{plantilla.pie-pagina}]]<a href="https://www.google.com/" target="_blank">NicoIndustriesWeb</a></span>
            </div>
        </footer>
    </body>
</html>
